extends layout

block content
  include ./navbar.jade
  h1 Adatbázis
  p Itt egy adatbázis teljes adatait kapom vissza: 

  div #{JSON.stringify(fullTable)}

  p Itt meg csak az éveket: 

  div #{JSON.stringify(allAges)}