extends layout

block content
  include ./navbar.jade
  h1 Főoldal
  p Eze egy egyszerű express js programm ami Sequelize adatbázist használ, és amiben legalább 3 SOLID elv megjelenik.
  p Ezen kívül leír legalább legalább 12 eset, ami clean code témakörben számít.
