html
  head
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a(class='button' href="http://localhost:3000") Főoldal
        ul.nav.navbar-nav
          li.active
            a(class='button' href="http://localhost:3000/solid") Solid Elvek
          li.active
            a(class='button' href="http://localhost:3000/cleancode") Tiszta kód
          li.active
            a(class='button' href="http://localhost:3000/adatbazis") Adatbázis